/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 1, 2015, 11:05:34 PM
    Author     : lekalina
*/

h1 {
    font-family: helvetica;
    //border: 1px solid blueviolet;
    //margin: 30px;
}
h2{color: magenta}
body{background-color: white;}
//.banner {
  //  padding:10px;
  //background-color: window;
  // font-size: 18px;
//}
//.banner a {}
a:hover {
    color: pink;
}
//#myid {color: magenta;}
table{width: 100%;}
table, th, td{
    border: 3px solid violet; 
    border-collapse: collapse;
    text-align: center;
}
table#menu{table, th, td{text-align: left;}} 

div#london{background-color: black;
    color: white; 
    margin-left: 300px;
    margin-top: 20px;
    padding: 50px;
    width: 250px;}

.header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
.nav{
    line-height: 30px;
    background-color: #eeeeee;
    width: 405px;
    height: 305px;
    float: left;
    padding: 10px;
}
.section{
    width: 500px;
    float: left;
    padding: 10px;
}
.footer{
    background-color: black;
    color: white;
    font-size: 16px;
    clear: both;
    text-align: center;
    padding: 5px;
}

.calculator{
    background-color: lightpink;
    border: 3px solid lightpink;
    padding-left:10px;
    height: 400px;
    width: 225px;
    
    
}
#solution{
    text-align: right;
    font-family: helvetica;
    font-size: 20px;
    background-color: white;
    //border: 3px solid purple;
    height: 25px;
    width: 210px;
}
button{
    background-color: grey;
    height: 50px;
    width: 50px;
    border-collapse: collapse;
    
    
}
#equals{
    width: 158px;
}
